{% extends 'base.html' %}
{% set active_page = 'patient' %}
{% block title %} {% endblock %}

{% block content %}
<form method="POST" action="{{ url_for('patient_record') }}">
  <div class="form-group">
      <label>Czy w ostatnim czasie {{gender}} lub ktoś z bliskiej rodziny wymagał hospitalizacji?</label>
        <select name="hospitalization" class="form-control">
            <option value="yes">Tak</option>
            <option value="no">Nie</option>
        </select>
      <label>Czy przyjmuje {{gender}} leki na stałe?</label>
        <select name="drugs" class="form-control">
            <option value="yes">Tak</option>
            <option value="no">Nie</option>
        </select>
      <label>Czy {{have}} {{gender}} w ostatnich 10 latach jakiś zabieg operacyjny?</label>
        <select name="operation" class="form-control">
            <option value="yes">Tak</option>
            <option value="no">Nie</option>
        </select>
      <label>Korzysta {{gender}} z prywatnej czy publicznej służby zdrowia?</label>
        <select name="health_service" class="form-control">
            <option value="private">Prywatna</option>
            <option value="public">Publiczna</option>
        </select>
      <label>Czy {{subject}} się {{gender}} operacji chirurgicznej przeprowadzonej przez robota</label>
        <select name="operation_robot" class="form-control">
            <option value="yes">Tak</option>
            <option value="no">Nie</option>
        </select>
       <label>Na jakie czynności wykonywane przez robota {{subject2}} {{gender}} zgodę?(Pytanie wielokrotnego wyboru)</label>
        <select name="activities_robot" multiple class="form-control">
            <option value="interview">Przeprowadzenie wywiadu przed rozpoczęciem leczenia</option>
            <option value="cosultation">Konsultacja diagnozy z lekarzem</option>
            <option value="survey">Wykonanie badań na zlecenie robota i sugerowanie leczenia</option>
            <option value="non_invasive">Zabiegi nieinwazyjne</option>
            <option value="mini_surgery">Drobne zabiegi chirurgiczne (np. zaszycie rany)</option>
            <option value="surgery">Poważne operacje (np. operacja serca, usunięcie guza)</option>
            <option value="none">Żadne z powyższych</option>
        </select>
       <label>Czy uważa {{gender}}, że korzystanie z nowych technologii (np. robotów) działa na niekorzyść
          w postrzeganiu lekarzy i ich kompetencji?</label>
        <select name="disadvantage" class="form-control">
            <option value="yes">Tak</option>
            <option value="no">Nie</option>
        </select>
      <label>Czy {{subject3}} {{gender}} z usług telemedycyny?</label>
        <select name="telemedicine" class="form-control">
            <option value="yes">Tak</option>
            <option value="no">Nie</option>
        </select>
  </div>
    <button type="submit" class="btn btn-primary">Przejdź dalej</button>
</form>


{% endblock %}
