{% extends 'base.html' %}
{% set active_page = 'patient' %}
{% block title %} {% endblock %}

{% block content %}
<form method="POST" action="{{ url_for('patient_topic') }}">
  <div class="form-group">
      <label>Z jakiego rodzaju usług telemedycyny {{subject3}} {{gender}}?</label>
        <select name="type_telemedicine" class="form-control">
            <option value="diagnosis">Postawienie diagnozy</option>
            <option value="consultation_survey">Skonsultowanie wyników badań</option>
            <option value="prescription">Prośba o receptę</option>
            <option value="tel_advice">Teleporada</option>
            <option value="tel_rehabilitation">Telerehabilitacja</option>
            <option value="other">Inne</option>
        </select>
      <label>W jaki sposób {{subject3}} {{gender}} z usług telemedycyny?</label>
        <select name="how_telemedicine" class="form-control">
            <option value="phone">Rozmowa telefoniczna</option>
            <option value="videoconference">Wideokonferencja</option>
            <option value="email">Wiadomość e-mail</option>
            <option value="chat">Czat z lekarzem</option>
            <option value="other">Inne</option>
        </select>
      <label>Czy otrzymanie przez {{gender}} wyników badania z oceną lekarską online uważa {{gender}} za równoważne
            z przedstawieniem tych wyników w gabinecie lekarskim?</label>
        <select name="test_results" class="form-control">
            <option value="yes">Tak</option>
            <option value="no">Nie</option>
        </select>
      <label>Czy uważa {{gender}} wizytę online za równoważną z wizytą w gabinecie lekarskim?</label>
        <select name="visit" class="form-control">
            <option value="yes">Tak</option>
            <option value="no">Nie</option>
        </select>
      <label>Czy {{subject4}} {{gender}} komputerowi do dozowania leków?</label>
        <select name="computer" class="form-control">
            <option value="yes">Tak</option>
            <option value="no">Nie</option>
        </select>
      <label>Które z poniższych zdań najepiej określa {{gender}} stosunek do nowych technologii z medycynie?</label>
        <select name="attitude" class="form-control">
            <option value="like">Jestem {{subject5}} na nowe technologie i chętnie korzystam</option>
            <option value="concerns">Mam obawy, ale mogę skorzystać, jeśli inni też skorzystają</option>
            <option value="dislike">Nie ufam nowym technologiom, wolę tradycyjne metody leczenia</option>
        </select>
  </div>
    <button type="submit" class="btn btn-primary">Przejdź dalej</button>
</form>

{% endblock %}