{% extends 'base.html' %}
{% set active_page = 'patient' %}
{% block title %} {% endblock %}

{% block content %}
<form method="POST" action="{{ url_for('patient_end') }}">
  <div class="form-group">
      <label>Dlaczego {{subject5}} się {{gender}} na korzystanie z nowych technologii?</label>
        <select name="why" multiple class="form-control">
            <option value="fast_diagnosis">Szybka i trafna diagnoza</option>
            <option value="fast_access">Łatwy i szybki dostęp do usług medycznych</option>
            <option value="trust">Brak zaufania do lekarzy i ich kompetencji</option>
            <option value="interest">Ciekawość zastosowania nowych technologii</option>
            <option value="other">Inne</option>
        </select>
  </div>
    <button type="submit" class="btn btn-primary">Zakończ</button>
</form>

{% endblock %}
