{% extends 'base.html' %}
{% set active_page = 'patient' %}
{% block title %} {% endblock %}

{% block content %}
<form method="POST" action="{{ url_for('patient') }}">
  <div class="form-group">
    <label>Płeć</label>
        <select name="gender" class="form-control">
            <option value="male">Mężczyzna</option>
            <option value="female">Kobieta</option>
        </select>
      <label>Wiek</label>
         <select name="age" class="form-control">
            <option value="less18"><18</option>
            <option value="18-40">18-40</option>
            <option value="40-60">40-60</option>
            <option value="60over"><60</option>
          </select>
      <label>Wykształcenie</label>
        <select name="edu" class="form-control">
            <option value="primary">Podstawowe</option>
            <option value="secondary">Średnie</option>
            <option value="prof">Zasadnicze zawodowe</option>
            <option value="higher">Wyższe</option>
        </select>
      <label>Wielkość miasta(w tysiącach)</label>
        <select name="city" class="form-control">
            <option value="less10">>10</option>
            <option value="10-100">10-100</option>
            <option value="100-500">100-500</option>
            <option value="over500">500</option>
        </select>
            <label>Poglądy polityczne</label>
        <select name="politics" class="form-control">
            <option value="center">Center</option>
            <option value="left">Lewica</option>
            <option value="right">Prawica</option>
        </select>
  </div>
    <button type="submit" class="btn btn-primary" >Przejdź dalej</button>
</form>


{% endblock %}
